version: '1'
services:
  blog:
    build: ./blog
    ports:
      - "5000:5000"
  # resume:
  #   build: ./resume
  #   ports:
  #     - "5001:5001"
  #   depends_on:
  #     db
  # portfolio:
  #   build: ./portfolio
  #   ports:
  #     - "5002:5002"
  #   depends_on:
  #     db
  db:
    image: mongo
